@import colors
@import animations


a
    text-decoration: none
    color: $primary-400
    &:hover
        color: $primary-200
    &.light
        color: white


.button
    margin-top: 64px
    padding: 16px 32px
    cursor: pointer

.btn-primary
    border: 1px solid $primary-400
    background-color: $white
    color: $black
    &:hover
        background-color: $primary-50
        border: 1 solid $primary-700
        color: $primary-700
        a
            color: $primary-700
    a
        color: $black

.btn-submit
    width: 100%
    background-color: $primary-400
    color: $white
    display: flex
    justify-content: center
    align-items: center
    border: none
    transition: $transform-1
    &:hover
        background-color: $primary-300
        transition: $transform-1
        color: $primary-800